.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    align-items: center;

    padding: 10px 30px;
    background: var(--fundo);

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.marca {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.marca span {
    font-size: 20px;
    font-weight: bold;
    color: var(--verde-principal);
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 28px;
}

.menu a {
    text-decoration: none;
    color: var(--verde-principal);
    font-weight: bold;
    font-size: 28px;
}

@media (max-width: 768px) {

    .marca {
        display: none;
    }

    header {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .menu {
        display: flex;
        justify-content: center;
        gap: 18px;
    }

    .link-menu {
        font-size: 16px;
    }
}